@font-face {
  font-family: 'Open Comic Font';
  font-style: normal;
  font-weight: 400;
  src: local('Open Comic Font'), local('OpenComicFont'), url(https://cdn.jsdelivr.net/gh/arthursucks/opencomicfont@55ad855c341ede79d6ec326f75ab20196d2ac735/OpenComicFont.woff2) format('woff2');
}
